<!DOCTYPE html>
<html>
<head>
	<title>An Even Cooler Second Page</title>
</head>
<body>
	<h1>Here's an Event Cooler Second Page</h1>
	<p>
		This is the first page of my second Rails app.
	</p>
	<p>
		It's happy-dance time.
	</p>

</body>
</html>